.css-k008qs {
  background-color: #90c290;
  align-items: center;
  padding: 3px;
}
.css-xl71ch {
  color: #688b58;
}

.css-k008qs {
  color: #ff8552;

}
.css-0{
    padding: 3px;
    color: black;
    font-weight: bold;
}
.css-187ia04{
color: black;
text-decoration: double;
font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
font-size: 10px;
}